[user]
	name = Jarl Sondre Sæther
	email = 60541573+jarlsondre@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519
[commit]
	gpgsign = true
[rerere]
	enabled = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
